@import "../../CommonStyles/mixins.scss";
@import "../../CommonStyles/variables.scss";

.list {
    width: 25vw;
    @include flex-container;
    flex-direction: column;
    justify-content: unset;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 20px;
    margin: 7px 20px 7px;
    flex: 0 0 auto;
    background-color: #f1f1f1;
    box-shadow: 0px -6px 0px $cta-blue;
    @media(max-width: $tab-width) {
        width: 45vw;
    }
    @media(max-width: $mob-width) {
        width: 65vw;
    }
    .list-heading {
        @include flex-container;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $gray;
        padding: 0 20px;
        margin-bottom: 15px;
        .list-title {
            font-size: 20px;
            color: $black;
            text-transform: capitalize;
            font-weight: bold;
            .list-count {
                border-radius: 50%;
                padding: 5px 10px;
                font-size: 12px;
                background-color: $gray;
                color: $black;
                margin-left: 10px;
            }
        }
        .list-delete {
            width: 30px;
            height: 30px;
            background-image: url("../../assets/delete-icon.png");
            background-size: 50% 50%;
            background-repeat: no-repeat;
            background-color: $gray;
            border-radius: 25px;
            background-position: center;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .listsContainer {
        flex: 1 1 auto;
        width: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        &.noCards {
            @include flex-container
        }
    }
    .add-card {
        width: 100%;
        padding: 12px 20px;
        color: $cta-blue;
        background-color: $gray;
        font-weight: bold;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
            cursor: pointer;
        }
        span {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}